<img src="./image1.png" alt="">
<div class="container">

<div class="header"><h1><strong>Welcome to quote app!</strong></h1></div>

<div class="row">

  <div class="col-md-6">

     <h3><em>brief description</em></h3>
      <p>(1) This is cool app that gives the users the ability to input their quotes</p>
      <p>(2) Contains also cool featuers like up voting and down voting their quotes</p>
      <p>(3) Also you can delete a quote ..and so much more</p>
     <h4><strong>quote app specifications</strong></h4>

      <p>> The app requires you to come up with a cool quote..and add it to cart</p>
      <p>> W przeciwieństwie do rozpowszechnionych opinii, Lorem Ipsum nie je</p>
      <p>> Nie jest tylko przypadkowym tekstem. Ma ono korzenie w</p>
      <p>> Klasycznej łacińskiej literaturze z 45 roku przed Chrystusem, czyli</p>
      <p>> Uniwersytecie Hampden-Sydney w Virginii, przyjrzał się uważniej</p>
      <p>> Jednemu z najbardziej niejasnych słów w Lorem Ipsum –</p>
      <p>> Consectetur – i po wielu poszukiwaniach odnalazł niezaprzeczalne</p>
      <p>> Zródło: Lorem Ipsum pochodzi z fragmentów (1.10.32 i 1.10.33) „de</p>
      <p>> Finibus Bonorum et Malorum”, czyli „O granicy dobra i zła”</p>
    </div>

    <div class="col-md-6">
     <app-quote></app-quote>
    </div>

  </div>
  <div class="social">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="https://web.facebook.com/?_rdc=1&_rdr" class="fa fa-facebook"></a>
    <a href="https://twitter.com/explore" class="fa fa-twitter"></a>
    <a href="https://www.skype.com/en/" class="fa fa-skype"></a>
    <a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>
    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    <a href="https://www.stumbleupon.com/" class="fa fa-stumbleupon"></a>
    <a href="https://www.flickr.com/" class="fa fa-flickr"></a>
    <a href="https://www.behance.net/" class="fa fa-behance"></a>
    <p><strong><em>quote generator</em></strong></p>
    <p>2020</p>
  </div>
</div>