<div class="header"><h1><strong>Welcome to quote app!</strong></h1></div>

<div class="row">

  <div class="col-md-6">

<h3><em>brief description</em></h3>
<p>this is cool app that gives the users the ability to input their quotes</p>
<p>contains also cool featuers like up voting and down voting their quotes</p>
<p>also you can delete a quote ..and so much more</p>
<p><strong>quote app specifications</strong></p>
<p>the app requires you to come up with a cool quote..and add it to cart</p>

<app-quote-form></app-quote-form>

</div>
<div class="col-md-6">


</div>

</div>